@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400&family=Ubuntu:wght@300&display=swap');
.container-fluid{
    font-family: 'Poppins', sans-serif;
}


.rightside{
    border-left: 3px solid lightgrey;
    height: auto;
}

.leftmain{
    margin-top: 30px;
}

.inp:focus{

    outline: none;
}

.btn-h:hover{
    background-color: rgb(54, 38, 160);
    color: white;
    font-weight: normal;
    transition: .3s ease-in-out;
}

.bglight{
    background-color: rgba(211, 211, 211, 0.795);
}

.lst::-webkit-scrollbar{
    display: none;
}