<!-- <div class="main d-flex justify-content-center align-items-center">
    <div class="round shadow p-3 w-75">
        <h3>Dynamic Campaign</h3>
        <div class="form-group d-flex justify-content-center align-items-center m-0 p-3 ">
            <span class="m-0 p-0">Excel File Should be below "<b>10mb</b>" <a class="text-info"
                    href="../../../assets/files/persionalized (1).xlsx" download="">Click here</a> for sample
                Excel...</span>
            <label for="uploadfile" class="bg-light fileinput">{{File_Name}}
                <input type="file" name="uploadfile" id="uploadfile" accept=".xlsx, .xls , .csv"
                    (input)="fileUpload($event)" hidden>
            </label>
            <div class="loader pt-3" *ngIf="loading">
                <div class="dot">Rendering</div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
            </div>
            <span class="m-0 p-0 text-center" *ngIf="excelMessage">Columns Names : {{excelMessage}}</span>

        </div>
        <div class="d-flex justify-content-end" *ngIf="excelMessage">
            <button (click)="fileSend()" class="btn btn-outline-primary">Upload</button>
        </div>
    </div>
</div> -->
<div class="main d-flex justify-content-center align-items-center">
    <div>
        <h4 class="display-3"><span>Dynamic Campaign Coming Soon.</span></h4>
    </div>
</div>